a {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.5em;
    white-space: nowrap;
}

a + span {
    display: none;
}

a:hover + span {
    display: inherit;
    color: black;
    white-space: nowrap;
}