.icon-box {
    border-width: 4px;
    border-style: solid;
    width: fit-content;
    &.positive {
        border-image: linear-gradient(to bottom right, green 0%, rgba(255,255,255,0) 15%) 1;
    }
    &.neutral {
        border-image: linear-gradient(to bottom right, blue 0%, rgba(255,255,255,0) 15%) 1;
    }
    &.negative {
        border-image: linear-gradient(to bottom right, red 0%, rgba(255,255,255,0) 15%) 1;
    }
}

a {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.5em;
    white-space: nowrap;
}

a + span {
    display: none;
}

a:hover + span {
    display: inherit;
    color: black;
    white-space: nowrap;
}

strong {
    &.positive {
        color: green;
    }
    &.neutral {
        color: blue;
    }
    &.negative {
        color: red;
    }
}